{% load mathfilters %}
<!doctype html>
<html>
  <head>
    {% include 'pdf/styles.html' %}
  </head>
  <body>
    {% include 'pdf/meta.html' %}
    <div class="main-title">
      <h2 class="line-up-down line-grey simple-shadow padding">Detalles de la Entrada</h2>
    </div>

    <div class="info">
      <p>
        <strong>Fecha:</strong> {{ entrada.fecha }} 
      </p>
      <p>
        <strong>Almacén:</strong> {{ entrada.almacen }}
      </p>
      <p>
        <strong>Documento:</strong> {{ entrada.get_documento_display }}
        <strong>Número de documento:</strong> {{ entrada.numero_documento }}
        <strong>Fecha del documento:</strong> {{ entrada.fecha_documento }}
      </p>
      {% if entrada.documento != 'G' %}
      <p>
        <strong>Proveedor:</strong> {{ entrada.proveedor.razon_social }}
      </p>
      {% endif %}
      <p>
        <strong>Quién:</strong> {{ entrada.quien }}
      </p>
      <p class="line-down">
        <strong>Notas:</strong> {{ entrada.notas }}
      </p>
    </div>

    <div class="details">
      <table class="table table-bordered" repeat="1">
        <thead>
          <tr>
            <th class="padding-cell">Codigo</th>
            <th class="wide-percent padding-cell">Producto</th>
            <th class="padding-cell">Cantidad</th>
            <th class="padding-cell">Unitario</th>
            <th class="padding-cell">Subtotal</th>
            <th class="padding-cell">% Descuento</th>
            <th class="padding-cell">Total</th>
          </tr>
        </thead>
        <tbody class="detalles">
          {% for detalle in entrada.entradadetalle_set.all %}
          <tr>
            <td class="padding-cell">{{ detalle.producto.codigo }}</td>
            <td class="padding-cell">{{ detalle.producto }}</td>
            <td class="text-right padding-cell">{{ detalle.cantidad }}</td>
            <td class="text-right padding-cell">{{ detalle.precio_unitario }}</td>
            <td class="text-right padding-cell">{{ detalle.cantidad|mul:detalle.precio_unitario|floatformat:2 }}</td>
            <td class="text-right padding-cell">{{ detalle.descuento }}</td>
            {% with subtotal=detalle.cantidad|mul:detalle.precio_unitario %}
              {% with descmul=subtotal|mul:detalle.descuento %}
                {% with descuento=descmul|div:100 %}
                <td class="text-right padding-cell">{{ subtotal|sub:descuento|floatformat:2 }}</td>
                {% endwith %}
              {% endwith %}
            {% endwith %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
