{% load mathfilters %}
<!doctype html>
<html>
  <head>
    {% include 'pdf/styles.html' %}
  </head>
  <body>
    {% include 'pdf/meta.html' %}
    <div class="main-title">
      <h2 class="line-up-down line-grey simple-shadow padding">Inventario de Almacen: {{ almacen }}</h2>
    </div>

    <div class="info">
      <p class="line-down">
        <strong>Impreso el:</strong> {% now "j \d\e F \d\e\l Y - H:i a" %}
      </p>
    </div>

    <div class="details">
      <table class="table table-bordered" repeat="1">
        <thead>
          <tr>
            <th class="padding-cell">Código</th>
            <th class="wide-percent padding-cell">Producto</th>
            <th class="padding-cell">Cantidad</th>
            <th class="padding-cell">Unitario</th>
            <th class="padding-cell">Total</th>
          </tr>
        </thead>
        <tbody class="detalles">
          {% for detalle in stock %}
          <tr>
            <td class="padding-cell">{{ detalle.producto.codigo }}</td>
            <td class="padding-cell">{{ detalle.producto }}</td>
            <td class="text-right padding-cell">{{ detalle.unidades }}</td>
            <td class="text-right padding-cell">{{ detalle.producto.precio_unidad|floatformat:2 }}</td>
            <td class="text-right padding-cell">{{ detalle.unidades|mul:detalle.producto.precio_unidad|floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr>
    <h3 class="line-up-down line-grey simple-shadow padding text-right">Total Valor Venta: {{ total|floatformat:2 }}</h3>
    <h3 class="line-up-down line-grey simple-shadow padding text-right">Total Valor Real: {{ total_real|floatformat:2 }}</h3>
  </body>
</html>
