{% load mathfilters %}
<!doctype html>
<html>
  <head>
    {% include 'pdf/styles.html' %}
  </head>
  <body>
    {% include 'pdf/meta.html' %}
    <div class="main-title">
      <h2 class="line-up-down line-grey simple-shadow padding">Detalles de la Venta</h2>
    </div>

    <div class="info">
      <p class="text-right frame">
        <strong>Número:</strong> {{ venta.pk }} 
      </p>
      <p>
        <strong>Fecha:</strong> {{ venta.fecha }} 
      </p>
      <p>
        <strong>Almacén:</strong> {{ venta.almacen }} <strong>Tipo de Venta:</strong> {{ venta.get_tipo_venta_display }}
        {% if venta.tipo_venta == 'P' %}
        <strong>Estado:</strong> {{ venta.deuda.get_estado_display }}
        {% endif %}
      </p>
      <p>
        <strong>Documento:</strong> {{ venta.get_documento_display }}
        <strong>Número de documento:</strong> {{ venta.numero_documento }}
        <strong>Fecha del documento:</strong> {{ venta.fecha_documento }}
      </p>
      <p class="line-down">
        <strong>Cliente:</strong> {{ venta.cliente }} ({{ venta.cliente.numero_documento }})
      </p>
    </div>

    <div class="details">
      <table class="table table-bordered" repeat="1">
        <thead>
          <tr>
            <th class="padding-cell">Código</th>
            <th class="wide-percent padding-cell">Producto</th>
            <th class="padding-cell">Cantidad</th>
            <th class="padding-cell">Unitario</th>
            <th class="padding-cell">Precio Venta</th>
            <th class="padding-cell">Total</th>
          </tr>
        </thead>
        <tbody class="detalles">
          {% for detalle in venta.ventadetalle_set.all %}
          <tr>
            <td class="padding-cell">{{ detalle.producto.codigo }}</td>
            <td class="padding-cell">{{ detalle.producto }}</td>
            <td class="text-right padding-cell">{{ detalle.cantidad }}</td>
            <td class="text-right padding-cell">{{ detalle.precio_unitario }}</td>
            <td class="text-right padding-cell">{{ detalle.precio_venta }}</td>
            <td class="text-right padding-cell">{{ detalle.cantidad|mul:detalle.precio_venta|floatformat:2 }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-right padding-cell"><strong>Venta Total:</strong></td>
            <td colspan="1" class="text-right padding-cell">
              {{ venta.total_venta|floatformat:2 }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>