{% extends 'base.html' %}
{% block content %}
<div class="page-header">
  <h3><i class="fa fa-file icon-new"></i> Registrar Gasto
    <span class="small pull-right">
      <a class="btn btn-success btn-sm" href="{% url 'gastos' %}"><i class="fa fa-table"></i> Ver todos los gastos</a>
    </span>
  </h3>
</div>
<form action="{% url 'gasto' %}" role="form" method="post" id="the-form">
<div class="row">
  <div class="col-md-6">
    <div class="page-header mini">
      <h5>Información</h5>
    </div>
    <div class="form-group">
      <select name="almacen" id="almacen" class="form-control" required>
        <option value="">Almacén</option>
        {% for almacen in almacenes %}
        <option value="{{ almacen.pk }}">{{ almacen.nombre }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="text" class="form-control datepicker" name="fecha" id="fecha" required autocomplete="off" placeholder="Fecha del gasto">
    </div>
    <div class="form-group">
      <input type="number" step="any" min="0" class="form-control" name="monto" id="monto" required autocomplete="off" placeholder="Monto">
    </div>
  </div>
  <div class="col-md-6 line-left">
    <div class="page-header mini">
      <h5>Detalles</h5>
    </div>
    <div class="form-group">
      <textarea name="razon" id="razon" class="form-control" rows="7" placeholder="Escribe la razón del gasto." required></textarea>
    </div>
  </div>
</div>  
<div class="actions">
  <p class="text-center">
    <button class="btn btn-success btn-block btn-lg"><i class="fa fa-floppy-o"></i> Guardar</button>
    {% csrf_token %}
  </p>
</div>
</form>
{% endblock %}

{% block js %}
<script src="/media/js/main.js"></script>
{% endblock %}

{% block title %}Registrar Gasto{% endblock %}