{% extends 'base.html' %}
{% load mathfilters %}
{% block content %}
<div class="page-header">
  <h3><i class="fa fa-file icon-new"></i> Detalles de la Salida
    <span class="small pull-right">
      <a class="btn btn-success btn-sm" href="{% url 'salidas' %}"><i class="fa fa-table"></i> Ver todas las salidas</a>
      <a class="btn btn-success btn-sm" href="{% url 'salida' %}"><i class="fa fa-book"></i> Registrar una salida</a>
      <a class="btn btn-primary btn-sm" href="{% url 'salida_print' salida.id %}"><i class="fa fa-print"></i> Imprimir</a>
    </span>
  </h3>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="page-header mini">
      <h5>Información</h5>
    </div>
    <div class="form-group">
      <label>Almacén:</label>
      {{ salida.almacen }}
    </div>
    <div class="form-group">
      <label>Fecha:</label>
      {{ salida.fecha }}
    </div>
    <div class="form-group">
      <label>Documento:</label>
      {{ salida.get_documento_display }}
    </div>
    <div class="form-group">
      <label>Número de documento:</label>
      {{ salida.numero_documento }}
    </div>
    <div class="form-group">
      <label>Fecha del documento:</label>
      {{ salida.fecha_documento }}
    </div>
    <div class="form-group">
      <label>Quien:</label>
      {{ salida.quien }}
    </div>
    {% if salida.venta %}
    <div class="form-group">
      <label>Venta:</label>
      <a href="{% url 'venta_view' salida.venta.pk %}">Nro {{salida.venta.pk}}</a>
    </div>
    {% endif %}
    <div class="form-group">
      <label>Notas:</label>
      {{ salida.notas }}
    </div>
  </div>
  <div class="col-md-8 line-left">
    <div class="page-header mini">
      <h5>Detalles</h5>
    </div>
    <table class="table table-striped able-condensed table-bordered small">
      <thead>
        <tr>
          <th>Código</th>
          <th>Producto</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody class="detalles">
        {% for detalle in salida.salidadetalle_set.all %}
        <tr>
          <td>{{ detalle.producto.codigo }}</td>
          <td>{{ detalle.producto }}</td>
          <td>{{ detalle.cantidad }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>  
{% endblock %}

{% block js%}
<script src="/media/js/main.js"></script>
{% endblock %}

{% block title %}Detalles de la salida{% endblock %}

